{% extends "listing/base/base.html" %}

{% load static %}

{% block title %}
Confirmed
{% endblock title %}

{% block scripts %}
    {% include 'listing/details/js.html' %}
{% endblock %}

{% block navbar_title %}
    <p class="navbar-nav mr-auto text-white lead">{{ listing.name }}, {{ listing.street }}</p>
{% endblock %}

{% block content %}
<div class="container-fluid justify-content-center align-items-center">
    <h3 class="text-center mt-5"> Thank you! <br/> Your booking has been confirmed.</h3>
</div>
{% endblock %}